.container {
	margin-top: 10rem;
	padding-inline: 1rem;
}

.header {
	margin-bottom: 5rem;
}

.projectsContainer {
	.projectContainer:nth-child(odd) {
		@media (min-width: 768px) {
			flex-direction: row-reverse;
		}
	}
}

.projectContainer {
	display: flex;
	flex-direction: column;
	padding-inline: 1rem;
	gap: 1rem;

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	&:not(:last-of-type) {
		margin-bottom: 5rem;
	}
}

.text {
	@media (min-width: 768px) {
		width: 50%;
	}
}

.image {

	img {
		width: 100%;
		max-height: 30rem;
	}
}