.aboutContainer {
	display: flex;
	flex-direction: column;
	padding-inline: 1rem;
	gap: 1rem;

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}

.text {
	@media (min-width: 768px) {
		width: 50%;
	}

	h1 {
		margin-bottom: 1rem;
	}
}

.image {

	img {
		width: 100%;
		max-width: 30rem;
	}
}