.container {
	margin-block: 10rem;
	padding-inline: 1rem;
}

.header {
	margin-bottom: 5rem;
}

.contactContainer {
	display: flex;
	flex-direction: column;
	padding-inline: 1rem;
	gap: 3rem;

	@media (min-width: 768px) {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
}

.text {
	@media (min-width: 768px) {
		width: 50%;
	}
}

.fields {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;

	@media (min-width: 768px) {
		width: 50%;
	}
}

.fieldGroup {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 30rem;
	gap: 1rem;

	input,
	textarea {
		height: 2.5rem;
		padding: 1rem;
		outline: none;
		border: 1px solid black;
	}


	textarea {
		height: 10rem;
	}
}

.fieldError {

	input,
	textarea {
		border: 1px solid red;
	}
}

.error {
	position: absolute;
	bottom: -1.25rem;
	color: red;
	font-size: 0.75rem;
}